<div class="center-header" *ngIf="competitionsArray">

    <div style="overflow-y: hidden;">
        <div class="side-nav ">
            <mat-accordion>
                <app-competitions-list></app-competitions-list>
            </mat-accordion>
        </div>

        <router-outlet></router-outlet>

    </div>


    <div class="flex-container wrap">

        <div class="flex-container wrap" *ngIf=" !loadingTop && selectedCompetitions.length === 0">
            <br>
            <div *ngIf="selection.length == 0" class="bloc-offre-1x2-main">
                <h2 style="">Top bets </h2>
                <div *ngFor="let paris of topBets">
                    <app-team-box [paris]="paris"></app-team-box>
                </div>
            </div>
        </div>
        <!-- Selection bets list -->
        <!-- 
            <ng-container *ngIf="parisGroupedByDate.length > 0">
                <div class="bloc-offre-1x2" style="margin-top: 50px;">
                    <ngx-ui-loader fgsSize="75"></ngx-ui-loader>
                    <div>
                        <app-matches [listeParis]="parisGroupedByDate"></app-matches>
                    </div>
                </div>
            </ng-container> 
            -->
        <router-outlet></router-outlet>
    </div>