.center-header {

    justify-content: center;
    overflow: hidden;

    .flex-container {
        padding: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        background-color: black;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        align-items: center;
        grid-template-columns: repeat(auto-fill, 400px);
        justify-content: center;
        width: 100%;
        margin-top: 56px;

        .flex-item {
            background: #1976d2;
            padding: 5px;
            width: 180px;
            height: 50px;
            margin: 10px;
            border-style: solid;
            border-radius: 1em;
            border-width: 1px;
            line-height: 50px;
            color: whitesmoke;
            font-weight: bold;
            font-size: 3em;
            text-align: center;
            margin: 20px;
        }

        .flex-competition-select {
            background: white;
            border-color: white;
            border-style: solid;
            border-radius: 0.2em;
            border-width: 1px;
            font-size: 15px;
            text-align: center;
            // margin: 8px;
            margin: 2px;
            width: 300px;
            height: 56px;
        }

        .flex-item:hover {
            background-color: whitesmoke;
            color: black;
            cursor: grab;
        }

    }
}


.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xxx {
    color: rgb(32, 32, 32);
    text-align: left;
    font-size: 20px;
}

.bloc-offre-1x2 {
    margin-top: 150px;
    // width: 500px
}

.bloc-offre-1x2-main {
    margin-top: 150px;
    // margin-left: 12%;
    width: 450px;

    @media (max-width: 685px) {
        margin-left: 0%;
    }
}

// ::ng-deep .mat-option {
//     color: black;
//     background-color: white;
// }

// ::ng-deep .mat-button {
//     background-color: #89ba17 !important;
//     width: 50%;
//     height: 100%;

// }

// ::ng-deep .mat-form-field-wrapper {
//     position: inherit !important;
//     padding-bottom: 0em !important;
// }

// ::ng-deep .mat-form-field-underline {
//     display: none;
// }

// ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
//     // background-color: #89BA17;
//     background-color: #89BA17;
// }

// ::ng-deep .mat-select-value {
//     color: white !important;
//     font-size: 20px;
//     margin-bottom: 20px;
// }

// ::ng-deep .mat-form-field-infix {
//     color: white !important;
// }

// ::ng-deep .mat-select-placeholder {
//     color: white !important;
// }

// ::ng-deep .mat-option-text {
//     color: black !important;

// }