.center-header {

    justify-content: center;
    overflow: hidden;

    .flex-container {
        padding: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        background-color: black;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        align-items: center;
        grid-template-columns: repeat(auto-fill, 400px);
        justify-content: center;
        width: 100%;
        margin-top: 56px;

        .flex-item {
            background: #1976d2;
            padding: 5px;
            width: 180px;
            height: 50px;
            margin: 10px;
            border-style: solid;
            border-radius: 1em;
            border-width: 1px;
            line-height: 50px;
            color: whitesmoke;
            font-weight: bold;
            font-size: 3em;
            text-align: center;
            margin: 20px;
        }

        .flex-competition-select {
            background: white;
            border-color: white;
            border-style: solid;
            border-radius: 0.2em;
            border-width: 1px;
            font-size: 15px;
            text-align: center;
            // margin: 8px;
            margin: 2px;
            width: 300px;
            height: 56px;
        }

        .flex-item:hover {
            background-color: whitesmoke;
            color: black;
            cursor: grab;
        }

    }
}


.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    z-index: 10000;
}

.xxx {
    color: rgb(32, 32, 32);
    text-align: left;
    font-size: 20px;
}

.bloc-offre-1x2-main {
    margin-left: 340px;
    width: 100%;

    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    @media (max-width: 800px) {
        margin-left: 0px;
    }
}


.bloc-offre-1x2 {
    // margin-top: 55px;
    margin-left: 340px;
    width: 100%;

    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    @media (max-width: 800px) {
        margin-left: 0px;
    }
}

.bloc-offre-1x2-main {
    margin-top: 150px;
    // margin-left: 12%;
    width: 450px;

    @media (max-width: 685px) {
        margin-left: 0%;
    }
}

.side-nav {
    position: fixed;
    width: 316px;
    height: 100vh;
    left: 0;
    right: 0;
    overflow-y: scroll;
    top: 60px;
    padding: 20px;
    background-color: black;

    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    @media (max-width: 800px) {
        display: none;
    }
}