<div class="center">
    <!-- border:2px solid black;border-radius: 5px; -->
    <div class="date-header fixed" style=" font-size: 15px; color:black;">
        <mat-card style="width: 100%;">
            <div>
                <div class="row">

                    <div style="width: 200px;background-color: white;">
                        <mat-form-field>
                            <mat-label style="margin-left:10px; margin-right: 10px;">Date : </mat-label>
                            <mat-select *ngIf="listeParis.length > 0" (selectionChange)="selectionChange($event)" disableOptionCentering panelClass="myPanelClass" placeholder="{{listeParis[0].date | date }}" [selected]="selectedParis">
                                <mat-option *ngFor="let parisParDate of listeParis;" [value]="parisParDate"><b>{{parisParDate.date | date }}</b></mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div style="width: 200px; color: white;">
                            <mat-spinner *ngIf="listeParis.length === 0 || !listeParis.length"></mat-spinner>
                        </div>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>

    <mat-card style="background-color: black;margin-left: 10px  ;min-height: 100vh;">
        <div class="flex-container-bets">

            <ng-container *ngFor="let paris of selectedParis.liste">
                <app-team-box (sectionPosition)="sectionPosition($event)" [paris]="paris">
                </app-team-box>
            </ng-container>

        </div>
    </mat-card>

</div>