<div class="center">

    <ng-container>
        <div class="date-header fixed" style=" font-size: 15px; color:black;">
            <mat-card style="width: 100%;">

                <div style="width:300px; background-color: white;">

                    <mat-label style="width:100px;" style="margin-left:10px; margin-right: 10px;">Date : </mat-label>
                    <mat-select style="width:200px;border: 0px solid;border-radius: 7px; background-color: skyblue;" *ngIf="listeParis.length > 0" (selectionChange)="selectionChange($event)" disableOptionCentering panelClass="myPanelClass" placeholder="{{listeParis[0].date | date }}" [selected]="selectedParis">
                        <mat-option *ngFor="let parisParDate of listeParis;" [value]="parisParDate"><b>{{parisParDate.date | date }}</b></mat-option>
                    </mat-select>
                </div>
            </mat-card>
        </div>
    </ng-container>

    <mat-card style="background-color: black;min-height: 100vh;  margin-top:20px; transition: 0.5s;">
        <div class="flex-container-bets">

            <ng-container *ngFor="let paris of selectedParis.liste">
                <app-team-box [paris]="paris">
                </app-team-box>
            </ng-container>

        </div>
    </mat-card>

</div>