<div class="container-fluid spinner">
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header style="background-color: #162b4c;">
                <h4>
                    PARIS OUVERTS
                </h4>
            </mat-expansion-panel-header>

            <mat-card class="card">
                <mat-card-content>
                    <p>
                        TODO add selected competitions
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>

</div>