<div *ngIf="currentHeaderDate !== parisParDate.date" class="date-header" style="font-size: 15px;" #dateHeaderFixed>
    {{ parisParDate.date | date }}
</div>
<ul class="flex-container wrap">

    <li class="teams-item" *ngFor="let paris of parisParDate.liste">
        <mat-card>

            <mat-card-header style="background-color: aliceblue;">

                <mat-card-title style="font-size: 14px;">
                    <div style="margin-right:10px;" class="fa fa-futbol-o"></div>
                    <b>{{paris.label}}</b>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                {{paris.competition}}
                <ul class="flex-1x2-container nowrap">
                    <li class="choice-1n2-container" (click)="choice1Clicked(paris)">
                        <div class="box-1x2">
                            1
                        </div>
                        <div class="box-1x2-cote">
                            {{paris.outcomes[0].cote}}
                        </div>
                    </li>
                    <li class="choice-1n2-container">
                        <div class="box-1x2">
                            X
                        </div>
                        <div class="box-1x2-cote">
                            {{paris.outcomes[1].cote}}
                        </div>
                    </li>
                    <li class="choice-1n2-container">
                        <div class="box-1x2">
                            2
                        </div>
                        <div class="box-1x2-cote">

                        </div>
                        {{paris.outcomes[2].cote}}
                    </li>
                </ul>


                <ul class="flex-1x2-container nowrap" style="margin-top: 10px;">
                    <div class="row">
                        <li class="col-8" style="font-size : 12px ;background-color: white; border: 0px; color:black;">
                            <mat-label>{{paris.end | date}} {{paris.end | date:'shortTime'}}</mat-label>
                        </li>
                        <li class="col-2" style="background-color: white; border: 0px; color:black; margin-left: 50px;text-align: right;">
                            <button mat-mini-fab class="add-btn" mat-raised-button color="primary" style="margin-left: 50px;">
                                <mat-icon matSuffix>add</mat-icon>
                            </button>
                        </li>
                    </div>
                </ul>

            </mat-card-content>

        </mat-card>
    </li>
</ul>