<div class="team-box wrapper" style="font-size: 14px; text-align: center;">
    <div class="box header">

        <div style="font-size: 14px; text-align: center;">
            <div style="padding: 10px;" class="fa fa-futbol-o"></div>
            <b>{{paris.label}}</b>
        </div>
    </div>

    <div class="box footer">
        <div class="box-1x2" [class.choice-1n2-clicked]="isClicked(paris,paris.outcomes[0])" (click)="outCome1Clicked(paris,paris.outcomes[0])">
            1
        </div>
        <div class="box-1x2" [class.choice-1n2-clicked]="isClicked(paris,paris.outcomes[1])" (click)="outComeXClicked(paris,paris.outcomes[1])">
            X
        </div>
        <div class="box-1x2" [class.choice-1n2-clicked]="isClicked(paris,paris.outcomes[2])" (click)="outCome2Clicked(paris,paris.outcomes[2])">
            2
        </div>
    </div>

    <div class="box content">
        <div style="font-size : 12px; text-align: left;">
            <ng-container *ngIf="getFlagUrl(paris.competition)">
                <img src="{{getFlagUrl(paris.competition)}}" class="flag">
            </ng-container>
            {{paris.competition}}
        </div>
        <div>
            <div style="font-size : 12px;background-color: white; border: 0px; color:black; text-align: left;">
                <mat-label>{{paris.end | date}} {{paris.end | date:'shortTime'}}</mat-label>
            </div>
        </div>
    </div>

</div>