// :host {
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//     font-size: 12px;
//     color: white;
//     box-sizing: border-box;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     margin: 8px 0;
// }

// p {
//     margin: 0;
// }

// .spacer {
//     flex: 1;
// }

.toolbar {
    align-items: center;
    background-color: rgb(0, 172, 172);
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.spacer {
    flex: 1 1 auto;
}


::ng-deep .mat-menu-panel {
    width: 180px !important;
}

.competition-mobile-menu {
    display: none;

    @media (max-width: 800px) {
        display: block;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999 !important;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
}

.overlay a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
    }
}