<mat-toolbar style="position: fixed; z-index: 1000; background-color: yellowgreen; top:0;">


    <mat-toolbar-row>


        <span class="navbar-brand">
            <i class="fa fa-futbol-o" aria-hidden="true"></i>
            <b>BÊTE POTES</b>
        </span>


        <span class="spacer"></span>
        <!-- <mat-form-field>
            <div style="margin-bottom:-30px;">
                <mat-icon style="margin-top:-2px" matPrefix></mat-icon>
            </div>
            <span matPrefix>
                <mat-icon matPrefix>search</mat-icon>
            </span>
            <input matInput placeholder="Search a friend" type="text" />

        </mat-form-field> -->


        <button fxFlex fxLayoutAlign="flex-end center" *ngIf="!currentUser" mat-raised-button [routerLink]="['/login']" color="basic" aria-label="Example icon button with a menu icon">
            Login
        </button>

        <span class="competition-mobile-menu">
            <button mat-raised-button *ngIf="currentUser" (click)="openNav()" color="basic" style="margin-right: 10px;">
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                Competitions
            </button>
        </span>

        <button mat-mini-fab *ngIf="currentUser" [matMenuTriggerFor]="menu" color="basic">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="menu">
            <button mat-menu-item color="primary" color="basic">
                <mat-icon class="material-icons">
                    account_circle
                </mat-icon>
                <span>
                    Profile
                </span>
            </button>

            <button mat-menu-item (click)="navigateToFriends()" color="basic">
                <mat-icon class="material-icons">
                    people
                </mat-icon>
                <span>
                    Friends
                </span>
            </button>

            <button mat-menu-item (click)="logout()" color="basic">
                <mat-icon class="material-icons">
                    login
                </mat-icon>
                <span>
                    Logout
                </span>

            </button>
        </mat-menu>

        <!-- Overlay menu -->
        <div id="myNav" class="overlay">

            <div class="overlay-content">
                <div id="topNav" class="fixed" style="position:sticky;color:white; background-color: black;top: 0;max-width:inherit;transition: 0.5s;">

                    <div class="row">
                        <div class="col" style="margin-left:10px;">
                            Compétitions
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                        </div>

                    </div>
                </div>

                <app-main-nav></app-main-nav>
            </div>
        </div>



    </mat-toolbar-row>




</mat-toolbar>