<h2>Register</h2>
<mat-card>
    <div class="card">
        <h4 class="card-header" style="color:black; background-color: skyblue;">Register</h4>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <mat-form-field style="display:block;">
                        <mat-label for="username">Username *</mat-label>
                        <input placeholder="Username" matInput type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username Name is required</div>
                        </div>
                    </mat-form-field>

                </div>

                <div class="form-group">
                    <mat-form-field style="display:block;">
                        <mat-label for="firstName">Email *</mat-label>
                        <input placeholder="Email" matInput type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

                        <ng-container>
                            <mat-error *ngIf="f.email.errors && f.email.value !== ''">
                                Email is not valid.
                            </mat-error>
                        </ng-container>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field style="display:block;">
                        <mat-label for="firstName">Password *</mat-label>
                        <input placeholder="Password" matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <ng-container *ngIf="f.password.errors ">
                            <mat-error *ngIf="f.password.errors.required && f.password.value !== ''">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="f.password.errors.minlength && f.password.value !== ''">
                                Password must be at least 6 characters
                            </mat-error>
                        </ng-container>
                    </mat-form-field>
                </div>

                <mat-error *ngIf="registerError">
                    {{errorMessage}}
                </mat-error>

                <div class="form-group">
                    <button mat-raised-button [disabled]="loading || registerForm.invalid" color="primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <a routerLink="/login" class="btn btn-link">Cancel</a>
                </div>
            </form>

        </div>

    </div>

</mat-card>