<div class="container">
    <div class="tab-container">
        <mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="indexChange($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <label><b>MON PANIER</b></label>
                </ng-template>

                <app-cart></app-cart>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <label><b>MES PARIS</b></label>
                </ng-template>

                <app-validated-bets *ngIf="selected === 1"></app-validated-bets>
            </mat-tab>
        </mat-tab-group>

    </div>