<ng-container *ngFor="let sport of sportsArray">
    <mat-expansion-panel expanded *ngIf="sport.name==='football'">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div style="margin-top:5px; margin-right:10px;" class="fa fa-futbol-o"></div>
                <mat-label> <b>{{sport.name | uppercase}}</b></mat-label>
            </mat-panel-title>

        </mat-expansion-panel-header>
        <ng-container *ngFor="let competition of sport.competitions">
            <mat-checkbox class="row" [checked]="isChecked(competition)" (change)="selectionChange($event.checked, competition)" style="margin-left: 10px;">
                {{competition.label}}
            </mat-checkbox>
            <hr>
        </ng-container>
    </mat-expansion-panel>
</ng-container>