<div class="col-md-6 offset-md-3 mt-5">
    <!-- <div class="alert alert-info">
        Username: test<br />
        Password: test
    </div> -->
    <mat-card>
        <div class="card">
            <h4 class="card-header" style="color:black; background-color: skyblue;">Login</h4>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <mat-form-field style="display:block;">
                            <mat-label for="username">Username</mat-label>
                            <input matInput placeholder="Username" type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </mat-form-field>

                    </div>
                    <!-- class="form-control" -->
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label for="password">Password</mat-label>
                            <input matInput placeholder="Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </mat-form-field>
                    </div>
                    <button class="full-width" mat-raised-button [disabled]="loading || loginForm.invalid" color="primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <hr>
                    <button [routerLink]="['/register']" class="register-button" mat-raised-button color="primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>

                    <mat-error *ngIf="error" style="text-align: center;">
                        <b>Bad username or password !</b>
                    </mat-error>

                    <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0"><b>Bad username or password !</b></div> -->
                </form>
            </div>
        </div>

    </mat-card>

</div>