html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fixed {
    position: fixed;
    z-index: 1;
}

.date-header {
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color: #2795cb;
    line-height: 32px;
    text-align: center;
    // margin-top: 150px;
    font-size: 4em;
    z-index: 1;
    font-style: bold;
}

.flex-container-bets {
    padding: 0;
    margin: 0;
    list-style: none;
    // border: 0px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;

    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    @media (max-width: 685px) {
        margin-top: 205px;
        margin-bottom: 100px
    }

}