.spacer {
    flex: 1 1 auto;
}


::ng-deep .mat-menu-panel {
    width: 180px !important;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999 !important;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    // transition: 0.5s;
    // transform: rotate(45deg);
    transition: all .2s;
}

.competition-mobile-menu {
    display: none;

    @media (max-width: 800px) {
        display: block;
    }
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    border-right: 4px solid;
}


.navHeader {
    transition: all .5s;
}

.nav-background {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1 !important;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.5);
    overflow-x: hidden;
    // transition: 0.5s;
    // transform: rotate(45deg);
    // transition: all .5s;
}

.overlay a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0s;
}

.overlay a:hover,

.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 40px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
    }
}