<div class="wrapper">
    <div class="box header">Header</div>
    <div class="box sidebar">
        <mat-accordion>
            <app-competitions-list></app-competitions-list>
        </mat-accordion>
    </div>

    <div class="box content">

        <div *ngIf="selectedCompetitions.length === 0">
            <div *ngFor="let paris of topBets">
                <app-team-box [paris]="paris"></app-team-box>
            </div>
        </div>

        <router-outlet></router-outlet>

    </div>
    <div class="box footer">Footer</div>
</div>