<div class="card text-center" style="min-height: 500px;">
    <div class="card-header" style="background-color: steelblue;color:white;">
        <div class="text-center">
            <h5 class="card-title" *ngIf="selectedBetOutcomes.length > 0">
                {{selectedBetOutcomes.length}} Sélections
            </h5>
            <h5 class="card-title" *ngIf="selectedBetOutcomes.length === 0">
                Sélection
            </h5>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="selectedBetOutcomes.length === 0" class="text-center">
            <h5 class="card-title">Votre panier est vide</h5>
            <a class="btn btn-primary" [routerLink]="[ '/' ]">Commencez à parier</a>
        </div>

        <div *ngFor="let betOutcome of selectedBetOutcomes">
            <div [class.alert-danger]="isDouble(betOutcome)" class="" style="border-bottom: 2px solid lightgray;">
                <div style="margin:20px;">
                    <div class="row">
                        <label class="text-left">
                            <b>
                                {{betOutcome.bet.label}}
                            </b>
                        </label>
                        <div style="margin-left: auto;">
                            <label>
                                {{betOutcome.selectedOutcome.cote}}
                            </label>
                            <button (click)="delete(betOutcome)" mat-icon-button style="color: cadetblue;">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <label>
                            Choix : {{betOutcome.selectedOutcome.label}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer" *ngIf="selectedBetOutcomes.length > 0">

        <form [formGroup]="form" class="form">
            <div class="container" style="border-bottom: 2px solid #ffffff;">
                <div class="">
                    <div class="">
                        <mat-form-field class="full-width">
                            <mat-label>Mise : </mat-label>
                            <input matInput formControlName="amount" placeholder="10">
                        </mat-form-field>
                    </div>
                    <div class="">
                        <label><b>Cote :</b> {{coteTotale}}</label><br>
                        <label><b>Gain possible : </b>{{gains}} €</label>
                    </div>

                </div>
            </div>
            <button (click)="validate()" class="btn-validate full-width" [disabled]="hasDouble" mat-raised-button style="background-color: steelblue;">
                Valider
            </button>
        </form>

    </div>
</div>